<% if !user_signed_in? # if user is not signed in, render this %>
    <style>
        body {
            
            background: 
            linear-gradient(
            rgba(0,0,0, 0.7),
            rgba(0,0,0, 0.7)
            ),
            url("/bg.jpg") no-repeat center center fixed; /*This sets a background image for the landing page. Eventually want to play a slideshow of images similar to what twitter does*/
            
            -webkit-background-size: cover;
            -moz-background-szie: cover;
            -o-background-size: cover;
            background-size: cover;
            
        }
        h1 {
            color: white;
            font-weight: 800;
            
        }
        .container-index{
            margin-right: 15%;
            margin-left: 15%;
        }
        .text{
            color: white;
            font-size: 20px;
            font-weight: 500;
        }
        .footer-links {
            text-align: center;
            color: white;
            font-weight: 500;
            margin-top: 30%;
            font-size: 75%;
        }
        .log-in {
            float: right;
            width:250px;
            height: 250px;
        }
    </style>
    <div class="container-index row"> 
    <div class="col-sm-6">
       <h1>Welcome to Flutter!</h1> 
        <p class="text">
            Connect with your pals. Chat with family and friends. <br>
            Share your adventure. Have fun! <br>
            Just like a blog, but with less characters!
        </p>
    </div>
    <div class="col-sm-6">
        <div class="log-in panel">
            
        </div>
    
    </div>
    <div class="col-sm-12">
        <p class="footer-links">About  Help  Blog  Status  Jobs  Trends  Privacy  Cookies  Ads  Info  Brand  Advertise  Business  Media  Developers  Directory  @2016 Flutter</p>
    </div>
    </div>
<% else # if user is signed in, render the following %>
Signed IN
<% end %>